<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}

    </h1>
    <div id="data-profile" *ngIf="user">
        <div class="avatar pull-left">
            <img src="{{url + 'get-image-user/'+ identity.image}}" *ngIf="identity.name" />
            <img src="assets/user.jpg" *ngIf="!identity.name" />
        </div>
        <div class="user-name pull-left">
            <p class="name">
                {{user.name + ' ' + user.surname}}
            </p>
            <p class="nick">
                {{user.nick}}
            </p>

            <div class="follow">
                <div class="label label-default" *ngIf="followed">
                    Te sigue
                </div>
                <button class="btn btn-success" *ngIf="!following" (click)="followUser(user._id)">
                    Seguir
                </button>

                <button class="btn btn-primary" *ngIf="following" (click)="unfollowUser(user._id)" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()"
                    [class.btn-danger]="user._id == followUserOver">

                    <span *ngIf="user._id == followUserOver; else following">
                        Dejar de seguir
                    </span>
                    <ng-template #following>
                        Siguiendo
                    </ng-template>

                </button>

            </div>
        </div>


        <div class="stats pull-left" *ngIf="stats">
            <div class="following-data">
                <a href="#">
                    <span class="label-stat">
                        Siguiendo
                    </span>
                    <span class="number-stats">
                        {{stats.following}}
                    </span>
                </a>
            </div>

            <div class="following-data">
                <a href="#">
                    <span class="label-stat">
                        Seguidores
                    </span>
                    <span class="number-stats">
                        {{stats.followed}}
                    </span>
                </a>
            </div>

            <div class="following-data">
                <a href="#">
                    <span class="label-stat">
                        Publicaciones
                    </span>
                    <span class="number-stats">
                        {{stats.publications}}
                    </span>
                </a>
            </div>
        </div>

        <div class="col-lg-12 publications" *ngIf="user">
            <publications [user]="user._id"></publications>
        </div>

    </div>
</div>

<sidebar></sidebar>