<div clas="col-lg-10">
    <h3>{{title}}</h3>
    <!-- Formulario de envio de mensajes -->

    <div class="alert alert-succes" *ngIf="status=='success'">
        Has enviado el mensaje correctamente
        <a [routerLink]="['/mensajes/enviados']">miralo en tus mensajes enviados.</a>
    </div>

    <div class="alert alert-succes" *ngIf="status=='error'">
        Se ha producido un error

    </div>
    <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
        <p>
            <label>Para:</label>
            <!-- listado de seguidores -->
            <select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
                <option *ngFor="let follow of follows" value="{{follow.user._id}}">
                    {{follow.user.name + ' ' + follow.user.surname + ' ('+follow.user.nick +')'}}
                </option>
            </select>

        </p>
        <p>
            <label>Mensaje</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="message.txt" class="form-control" required></textarea>
            <span *ngIf="!text.valid && text.touched">
                El mensaje es obligatorio
            </span>
        </p>
        <input type="submit" value="{{title}}" class="btn btn-success" />
    </form>
</div>